html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


.all_page_block{
    background-color: #070707;
}

.header_container{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
}
.top_menu{
    width: 75%;
    margin: auto;
    text-align: right;
}
.top_list{
    color: white;
    display: inline-flex;
    margin: auto;
    list-style-type: none;
    text-transform: uppercase;
    font-size: larger;
    
}

.top_list li{
    padding: 20px;
    
}

.top_list li a{
    text-decoration: none;
    color: #666666;
}

.cat_menu_block{
    
    background-color: #3230308d;
    width: 75%;
    margin: auto;
    
    
    
    
}
.cat_menu{
    
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    
    
}
.logo{
    color: white;
    font-size: 50px;
    font-weight: 700;

}

.logo_text{
    color: #844CD4;
}

.menu_list{
    color: white;
    text-align: end;
    
}

.cat_menu_list{
    
    list-style-type: none;
    color: rgb(167, 159, 159);
    display: flex;
    height: 100%;
        
}

.cat_menu_list li{
    margin: auto;
    margin-left: 50px;
    font-size: x-large; 
    text-transform: uppercase;
      
}

.cat_menu_list li a{
    text-decoration: none;
    color: #666666;
}

.mac{
    position: relative;
}

.mac ::before{
    content: "";
        background: url(./image/иконки/imac.png);
        width: 20px;
        height: 20px;
        position: absolute;
        top: 3px;
        left: -30px;

}


/* .cat_menu_list mac::before{
    content: "";
    background: url(./image/иконки/imac.png);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;

} */





.popular_items_block{
    width: 75%;
    margin: auto;
    
}

.pop_tov_header{
    color: white;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    padding-top: 250px;
  
    /*  */
}

.duv_vse{
    margin-left: 30px;
    text-decoration: none;
    
}
  
.items_block{
    width: 100%;
    margin: auto;
    
    clear: both;
    display: table;

}
.single_item_block{
    
    width: 25%;
    float: left;   
    position: relative; 
    box-sizing: border-box; 
    padding: 5px;
    border-radius: 5px;
    
}

.test{
    background-color: #3230308d;
}

.photo_block{
    text-align: center;
    
}

.photo_block img{
    width: 100%;
}

.description_block{
    
}

.item_name{
    text-align: center;
    color: white;
    margin: auto;
    width: 80%;
    padding: 10px 0;
}

.item_price{
    margin: auto;
    width: 80%;
    color: white;
    clear: both;
    display: table;
    
}

.usd{
    float: left;

}

.uah{
    float: right;
    
}

.buttom_block{
    width: 100%;
    margin: auto;

}

.button{
    width: 80%;
    margin: auto;
    padding: 15px 0 10px 0;
}

.button_buy{
    width: 100%;
    background-color: #844CD4;
    text-transform: capitalize;
    color: white;
    padding: 10px 50px;
    border-radius: 35px;
    border: none;
     
}

.credits_type{
    position: absolute;
    top: 5px;
    left: 20px;
}
.image_credit{
   height: 20px;
   width: 20px;
   display: block;
   margin: 5px 0;
   
}

